<nav class="navbar navbar-expand-lg fixed-top glass-nav">
    <div class="container">
        <a class="navbar-brand" href="index.html">
            <img src="assets/img/GRBLX-LOGO-FULL2.png" alt="G-RBLX Logo" class="nav-logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#games">Games</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#team">Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link contact-btn" href="mailto:mark.geronimo@grblx.com">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
